body {
font-family: sans-serif;
color: white;
}

.Header {
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.headbar {
	background: #5bc8e3;
	position: fixed;
	padding: 0.4%;
	top: 0%;
	font-size: 1.3em;
	left: 0%;
	width: 100%;
}

.gitlink {
margin-left: 4%;
}

html {
	background: #333333;
}

.link {
	color: white;
}

@keyframes spin{
from {transform: rotateY(0deg);}
to {transform: rotateY(360deg);}
}

.spin {
	animation: spin 2s;
}
