body {
font-family: sans-serif;
color: white;}
html {
background-image: linear-gradient(to right, #001438, #3b646e)!important;
}

.Header {
	display: flex;
	justify-content: center;
	  margin-left: auto;
  margin-right: auto;
	margin-top: calc(3%);
	animation: spin 2s infinite linear;
	width: 25%;
	
}
.headspin {
	perspective: 80vh;
}

.headbar {
	background: linear-gradient(to left, #5bc8e3, #5b8fe3);
	position: fixed;
	padding: 0.4%;
	top: 0%;
	font-size: 1.3em;
	left: 0%;
	width: 100%;
}

.gitlink {
margin-left: 4%;
}

html {
	background: #333333;
}

.link {
	color: white;
}

@keyframes spin{
from {transform: rotateY(0deg) translateZ(7em);}
to {transform: rotateY(360deg) translateZ(7em);}
}

.spin {
	animation: spin 0.1s;
}
